assets
/Lab/Express/node_modules
/assignment3/node_modules
/finalLab/node_modules
/Practise
/assignment2/landingPage-assets
/assignment3/public/landingPage-assets
/assignment4/public/landingPage-assets
/labtask4/public/landingPage-assets