<div id="footer-container" class="container-fluid bg-black">
    <div id="footer" class="d-flex flex-row mx-5 p-5 justify-content-between">
        <div id="first-footer-column" class="d-flex flex-column">
            <h2 id="company-footer-text">GAMITRON</h2>
            <p id="footer-closing-description">Take your skills to the next level in an ideal and fun environment.</p>
            <div id="footer-icons" class="d-flex flex-row justify-content-between">
                <img src="public/landingPage-assets/steam.png" alt="">
                <img src="public/landingPage-assets/game-controller.png" alt="">
                <img src="public/landingPage-assets/google-play.png" alt="">
            </div>

        </div>
        <div id="second-footer-column" class="d-flex flex-column">
            <a href= 'landingPage.html' ><strong>HOME</strong></a>
            <a href= "http://"><strong>NFT</strong></a>
            <a href= 'services.html'><strong>SERVICES</strong></a>
            <a href="http://"><strong>HEHE</strong></a>
            <div id="technical-fields" class="d-flex flex-row justify-content-around">
                <p>Community</p>
                <p>Privacy</p>
                <p>Terms
                </p>
            </div>
        </div>
        <div id="third-footer-column" class="d-flex flex-column text-center">
            <img id="qr-code" src="public/landingPage-assets/qr-code.png" alt="">
            <div id="footer-social-icons" class="d-flex flex-row justify-content-between">
                <img src="public/landingPage-assets/instagram.png" alt="">
                <img src="public/landingPage-assets/facebook.png" alt="">
                <img src="public/landingPage-assets/twitter-sign.png" alt="">
            </div>
        </div>
    </div>

</div>
<footer>
    <strong>Creator : </strong>  Muhammad Ahmad Shahid Qureshi
</footer>