*{
    margin: 0;
    padding: 0;
}

#top-bar
{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}


#social-media-handles, #brand-info-links
{
    padding-top: 5px;
    width: 45%;
    color: white
}

#social-media-handles a
{
    padding: 5px;
}
#social-media-handles a img
{
    width: 16px;
}

#brand-info-links
{
    display: flex;
    justify-content: right;
    width: 45%;
    align-items: right;
    color: black;
}

#brand-info-links a
{

    padding: 5px;
}

#line
{
    margin: 5px;
    background-color: rgb(0, 0, 0);
    width: 1px;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

#navigation-bar
{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#suzuki-logo-container
{
    padding-left: 50px;
    width: 30%;
}

#logo-button
{
    border: none;
    background-color: white;
}

.nav-button
{
    padding: 10px;
}

#navigation-buttons-container
{
    display: flex;
    justify-content: right;
    width: 60%;
}

#sub-menu-bar
{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.sub-menu-options
{
    justify-content: center;
    width: 30%;
    padding-left: 0px;
}

.sub-menu-span
{
    display: block;
    color: rgb(0, 55, 77);
    font-weight: bold;
    margin-top: 10px;
    padding-left: 200px;
}

.sub-menu-options img{
    padding-top: 20px;
    padding-left: 250px;
    display: block;
    height: 50px;
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 100px;
    background-color: black;
    color: white;
}

#footer-container
{
    background-color: black;
}

#career-container
{
    margin: 40px;
    display: flex;
}

#career-image-holder
{
    width: 40%;
}

#customer-image
{
    width: 550px;
}

#career-description
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 55%;
}

#title
{
    margin-bottom: 40px;
}
